body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 145, 145);
    height: 100px;
}
.navbar a:first-child img {
    height: 80px;
    width: auto;
    padding-left: 20px;
}
.winkelwagen {
    height: 60px;
    padding-right: 20px;
}
.producten {
    background-color: rgb(214, 214, 214);
    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.producten img {
    width: 350px;
}
#producten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}