html {
    height: 100vh;
}
body {
    margin: 0;
    max-height: 90vh;
    height: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 145, 145);
    height: 100px;
}
.navbar a:first-child img {
    height: 80px;
    width: auto;
    padding-left: 20px;
}
.winkelwagen {
    height: 60px;
    padding-right: 20px;
}
.producten {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.producten img {
    width: 60px;
}
.alles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 80vh;
}
.inhoud {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    padding: 10px 20px;
    max-width: 90vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 20px;
}
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 0px;
    right: 20px;
}
.bedank {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 80vh;
}
.afrekenen {
    background-color: rgb(143, 145, 145);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    max-width: 30vw;
    width: 100%;
}
.deleteButton {
    color: red;
}
.deleteButton:hover {
    cursor: pointer;
}