body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 145, 145);
    height: 100px;
}
.navbar a:first-child img {
    height: 80px;
    width: auto;
    padding-left: 20px;
}
.winkelwagen {
    height: 60px;
    padding-right: 20px;
}
.title {
    text-align: center;
    margin-top: 10px;

}
section {
    display: flex;
    justify-content: center;

}
.producten {
    background-color: rgb(214, 214, 214);
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 1rem;
}
.producten div {
    width: 25%;
    text-align: center;
}
.producten img {
    width: 4rem;
}
.addButton {
    background-color: rgb(124, 124, 124);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.border-red {
    border: 2px solid red;
    border-radius: 5px;
}
.border-green {
    border: 2px solid green;
    border-radius: 5px;
}
div button {
    min-width: 2rem;
    min-height: 2rem;
    margin: 0px 0.5rem;
    background-color: white;
    border-radius: 2rem;
    border: 2px solid black;
}
.bestellingen {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: rgb(179, 179, 179);;
    flex-wrap: wrap;
    margin: 1rem 0;
    border-radius: 1rem;
}
.bestellingen-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 1rem 0;
    border-radius: 1rem;

}
.bestellingen-items div {
    width: calc(100% / 3);
    text-align: center;
}
.title {
    margin-top: 10px;
    width: 100%;
}  
.image {
    width: 80px;
    height: auto;
}
#producten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}