body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 145, 145);
    height: 100px;
}
.navbar a:first-child img {
    height: 80px;
    width: auto;
    padding-left: 20px;
}
.winkelwagen {
    height: 60px;
    padding-right: 20px;
}
.alles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alleInfo {
    background-color: rgb(199, 199, 199);
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
}
.alleInfo div {
    font-size: larger;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.alleInfo img {
    height: 8rem;
    width: auto;
}